:root {
    --mainDark: #242325;
    --mainGreen: #61e786;
    --mainWhite: #fff;
    --mainGrey: #eeeeee;
  }

.container {
    margin-top: 15vh;
    background-color: #FBFAFA;
    padding-bottom: 5vh;
    border-color: lightgrey;
    border-width: 12px;
    border-style: solid;
    max-width: 95vw!important;
}

.request-button {
    border-radius : 11px;
}

.section-right-form {
    padding-left: 2vw;
    border-left: 2px solid grey;
}

input {
    border: 0!important;
    outline: 0!important;
    border-bottom: 1px solid black!important;
    border-radius: 0px!important;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    outline: 0;
}

.input-label {
    order: -1;
    padding-left: 5px;
    opacity: 0.5;
    transition: all 0.3s ease-in;
    transform: translateY(20px);
    pointer-events: none;
}

.input-field:focus + .input-label{
    transform: translateY(-2px);
    font-size: 0.8rem;
    line-height: 1;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.badge-icon {
    min-height: 30vh;
    min-width: 30vw;
    background: url("../images/idcard.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--mainGrey);
}

.user-image {
    min-height: 30vh;
    min-width: 30vw;
    background : url("../images/cross-png-icon-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.id-card {
    width: 15rem;
    background: var(--mainGrey);
    font-size: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    border: 1px dotted black;
}


